In [35]:
import pandas as pd
import numpy as np

In [36]:
array = np.random.randint(1, 500,(10, 50))
print(array)

[[194 397 328 263 118 450 417 316 244 133 451  19 485 180 166  90 118  61
  473 254 399 197 371 128 312 211 416 102 194  67 261 455 232 273  35 279
  348 139 188 302 265 263 452 256 214 329 128 359 106 237]
 [422 149 479 161 452  48 417 298  26 137 198 241 134 479  30 445 304  65
  219 383  22 262 136  85 219 476 175  98  41 366 243 193 389  48 326 385
   99 171 175 426 105 407 380 492 433 455 239 321 388 326]
 [ 45 427 349 264 277 210 368 431 467 241 441 330 253 177 377 305 309 444
  423  14 368  31 416 161 253 105 128  89 130 199 177  43 499  70 405 473
  472 383 176  31 101 158 125  99  47 189 274 197 447 257]
 [496 232  17  68  99 181  58  31 157  99 364 339 497 155 370 131 420 450
   40  19  68 354  87 352 167 383 409 470 148 423 490 356 284 175 435 177
  416 458 205 124 279  22 173 422 355 181 139 207 299 378]
 [380  27 465 137   6 247 391 328 430 162 329 232 207 102 490  17 202 275
  384 183  39 496 332 283 112 347 444 333 421 449  98 243 498 491  85  26
  206  53 192 134  73 470 146 417 137  50 367 470 361 457]
 [ 51 215 131 469 361 367 121 455 435 164 348 304 112 281 287 311 266   8
  469 383 113 421 144 384 147 262  71 357  26 188 217 288 394 315 201 238
  390 184  87  92 107 300 164 392 422 314 162 487 106  85]
 [101 295 360 498  47   6 478 236 426 493 450 400 178 234 444  52 323 483
  330 372 158 302 260  35 126 364  90 136 393  41 356 385 376 481 320 402
  292 381 432 221 225 427 257 253 482 250 209 381 412 349]
 [ 34 374 105 453  35  59  60 453 269 219 433 243 258 391 342 494 281 320
  226 126 167 281 395 286 246 485 119 334  73 140 392 275 314 414 357 169
  294 331  64  92 180 439 393 474  81  59 473 309 142 194]
 [154  92  43  25 390 450 268 239 223 339  86 189 293 452  95 384 312 205
  420  46 173 379 313 100 163 438  10 115 113 313 133 364 199 417 177 389
  440 420 272 168 241 252 453  22  58 359 187 442  52  91]
 [212 166 151 287 341 426  34 417 212   6 297 257 211 258 231 488 230   2
  163 230  36 411 207 392 130 182 127 425  63 114  92 405  86  86 340 244
  342 377  35 105  71 191 423 312 208 256 124 155 322 301]]

In [37]:
df = pd.DataFrame(data = array)
print(df)

    0    1    2    3    4    5    6    7    8    9  ...    40   41   42   43  \
0  194  397  328  263  118  450  417  316  244  133 ...   265  263  452  256
1  422  149  479  161  452   48  417  298   26  137 ...   105  407  380  492
2   45  427  349  264  277  210  368  431  467  241 ...   101  158  125   99
3  496  232   17   68   99  181   58   31  157   99 ...   279   22  173  422
4  380   27  465  137    6  247  391  328  430  162 ...    73  470  146  417
5   51  215  131  469  361  367  121  455  435  164 ...   107  300  164  392
6  101  295  360  498   47    6  478  236  426  493 ...   225  427  257  253
7   34  374  105  453   35   59   60  453  269  219 ...   180  439  393  474
8  154   92   43   25  390  450  268  239  223  339 ...   241  252  453   22
9  212  166  151  287  341  426   34  417  212    6 ...    71  191  423  312

    44   45   46   47   48   49
0  214  329  128  359  106  237
1  433  455  239  321  388  326
2   47  189  274  197  447  257
3  355  181  139  207  299  378
4  137   50  367  470  361  457
5  422  314  162  487  106   85
6  482  250  209  381  412  349
7   81   59  473  309  142  194
8   58  359  187  442   52   91
9  208  256  124  155  322  301

[10 rows x 50 columns]

In [38]:
#Added a column where each element is the sum of that row
sumOfRows = df.sum(axis=0)
print(sumOfRows)

0     2089
1     2374
2     2428
3     2625
4     2126
5     2444
6     2612
7     3204
8     2889
9     1993
10    3397
11    2554
12    2628
13    2709
14    2832
15    2717
16    2765
17    2313
18    3147
19    2010
20    1543
21    3134
22    2661
23    2206
24    1875
25    3253
26    1989
27    2459
28    1602
29    2300
30    2459
31    3007
32    3271
33    2770
34    2681
35    2782
36    3299
37    2897
38    1826
39    1695
40    1647
41    2929
42    2966
43    3139
44    2437
45    2442
46    2302
47    3328
48    2635
49    2675
dtype: int64

In [39]:
sumOfColumns = df.sum(axis = 1)
print(sumOfColumns)

0    12675
1    12968
2    12655
3    12659
4    13224
5    12596
6    15002
7    13147
8    11958
9    11181
dtype: int64

In [51]:
sumOfAllEntries = df.values.sum()
s = df.sum().sum()
print(s)
print(sumOfAllEntries)

128065
128065

In [52]:
#Find max value in dataframe
allMaxValues = df.max()
listOfMaxValues = []
for i in allMaxValues:
    listOfMaxValues.append(i)
print(max(listOfMaxValues))
print(df.max().max())

499
499

In [53]:
#Find min value in dataframe
allMinValues = df.min()
listOfMinValues = []
for i in allMinValues:
    listOfMinValues.append(i)
print(min(listOfMinValues))
print(df.min().min())

2
2

In [56]:
#Find average value of all entries
print(df.mean().mean())

256.13

In [57]:
#Find standard deviation for all entries
print(df.std().std())

25.695502592

In [42]:
#sort by rows
df.sort_values(by = [0, 1, 2], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
7,34,374,105,453,35,59,60,453,269,219,...,180,439,393,474,81,59,473,309,142,194
2,45,427,349,264,277,210,368,431,467,241,...,101,158,125,99,47,189,274,197,447,257
5,51,215,131,469,361,367,121,455,435,164,...,107,300,164,392,422,314,162,487,106,85
6,101,295,360,498,47,6,478,236,426,493,...,225,427,257,253,482,250,209,381,412,349
8,154,92,43,25,390,450,268,239,223,339,...,241,252,453,22,58,359,187,442,52,91
0,194,397,328,263,118,450,417,316,244,133,...,265,263,452,256,214,329,128,359,106,237
9,212,166,151,287,341,426,34,417,212,6,...,71,191,423,312,208,256,124,155,322,301
4,380,27,465,137,6,247,391,328,430,162,...,73,470,146,417,137,50,367,470,361,457
1,422,149,479,161,452,48,417,298,26,137,...,105,407,380,492,433,455,239,321,388,326
3,496,232,17,68,99,181,58,31,157,99,...,279,22,173,422,355,181,139,207,299,378

In [43]:
#sort by columns
df.sort_values(by = [0, 1, 2], axis=1)

,11,34,17,29,15,27,48,16,4,23,...,1,20,26,6,5,10,42,31,18,12
0,19,35,61,67,90,102,106,118,118,128,...,397,399,416,417,450,451,452,455,473,485
1,241,326,65,366,445,98,388,304,452,85,...,149,22,175,417,48,198,380,193,219,134
2,330,405,444,199,305,89,447,309,277,161,...,427,368,128,368,210,441,125,43,423,253
3,339,435,450,423,131,470,299,420,99,352,...,232,68,409,58,181,364,173,356,40,497
4,232,85,275,449,17,333,361,202,6,283,...,27,39,444,391,247,329,146,243,384,207
5,304,201,8,188,311,357,106,266,361,384,...,215,113,71,121,367,348,164,288,469,112
6,400,320,483,41,52,136,412,323,47,35,...,295,158,90,478,6,450,257,385,330,178
7,243,357,320,140,494,334,142,281,35,286,...,374,167,119,60,59,433,393,275,226,258
8,189,177,205,313,384,115,52,312,390,100,...,92,173,10,268,450,86,453,364,420,293
9,257,340,2,114,488,425,322,230,341,392,...,166,36,127,34,426,297,423,405,163,211

In [44]:
#sort by row 2
df.sort_values(by=[1], axis = 0)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
4,380,27,465,137,6,247,391,328,430,162,...,73,470,146,417,137,50,367,470,361,457
8,154,92,43,25,390,450,268,239,223,339,...,241,252,453,22,58,359,187,442,52,91
1,422,149,479,161,452,48,417,298,26,137,...,105,407,380,492,433,455,239,321,388,326
9,212,166,151,287,341,426,34,417,212,6,...,71,191,423,312,208,256,124,155,322,301
5,51,215,131,469,361,367,121,455,435,164,...,107,300,164,392,422,314,162,487,106,85
3,496,232,17,68,99,181,58,31,157,99,...,279,22,173,422,355,181,139,207,299,378
6,101,295,360,498,47,6,478,236,426,493,...,225,427,257,253,482,250,209,381,412,349
7,34,374,105,453,35,59,60,453,269,219,...,180,439,393,474,81,59,473,309,142,194
0,194,397,328,263,118,450,417,316,244,133,...,265,263,452,256,214,329,128,359,106,237
2,45,427,349,264,277,210,368,431,467,241,...,101,158,125,99,47,189,274,197,447,257

In [45]:
#sort by column 2
df.sort_values(by=[1], axis = 1)

,20,8,14,28,5,33,17,23,27,36,...,0,39,44,15,4,45,25,13,2,43
0,399,244,166,194,450,273,61,128,102,348,...,194,302,214,90,118,329,211,180,328,256
1,22,26,30,41,48,48,65,85,98,99,...,422,426,433,445,452,455,476,479,479,492
2,368,467,377,130,210,70,444,161,89,472,...,45,31,47,305,277,189,105,177,349,99
3,68,157,370,148,181,175,450,352,470,416,...,496,124,355,131,99,181,383,155,17,422
4,39,430,490,421,247,491,275,283,333,206,...,380,134,137,17,6,50,347,102,465,417
5,113,435,287,26,367,315,8,384,357,390,...,51,92,422,311,361,314,262,281,131,392
6,158,426,444,393,6,481,483,35,136,292,...,101,221,482,52,47,250,364,234,360,253
7,167,269,342,73,59,414,320,286,334,294,...,34,92,81,494,35,59,485,391,105,474
8,173,223,95,113,450,417,205,100,115,440,...,154,168,58,384,390,359,438,452,43,22
9,36,212,231,63,426,86,2,392,425,342,...,212,105,208,488,341,256,182,258,151,312